{
  "parser": "babel-eslint",

  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "jsx": true,
    "modules": true
  },

  "env": {
    "browser": true,
    "node": true
  }
}
